<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard
        <small>It's Nice to Meet You!</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li>Dashboard</li>
        <li class="active">Show users</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="panel-title">Show users</div>
        </div>
        <div class="panel-body">
          <%= form_for(@user) do |f| %>

            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :email %>
            <%= f.text_field :email %>

          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>
