<% provide(:title,'Safe IHEP') %>
<div class="jumbotron">
    <center>
    <h1><%= t('safeihepplatform') %></h1>
      <p><%= t('seven_plus_twenty_four_hours') %></p>
      <p><a class="btn btn-primary btn-lg" href="https://login.ihep.ac.cn/oauth2/authorize?response_type=code&redirect_uri=http%3A%2F%2Fsafe.ihep.ac.cn%2Fcallback&client_id=57756&theme=full"><%= t('sign_in') %></a></p>
    </center>
</div>

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-check-circle"></i> <%= t('use_and_admin_easy') %></h3>
        <p><%= t('use_and_admin_easy_more') %></p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-pencil"></i> <%= t('max_protection') %></h3>
        <p><%= t('max_protection_more') %></p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-folder-open"></i> <%= t('min_cost') %></h3>
        <p><%= t('min_cost_more') %></p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section -->
